/**************** reset ***************** { */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* } *****************************************/










/**************** Utilities *************** { */












/*************** display flex ************** { */

.d-flex {
    display: flex;
}

/* } ********************************************/




/******* removing bullets from lists ***** { */

.list-style-none {
    list-style: none;
}

/* } *****************************************/
















/* } (utilities) *****************************/














/************** header styling *********** { */


.nav-menu {
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.left-nav-menu {
    align-items: center;
}

.drop-box-logo {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    height: 21px;
}

.nav-txt {
    text-decoration: none;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

header {
    background-color: white;
}

/* } *******************************************/





/*********** styling inside tag "main" *********/



/* Building document structural support */

img {
    max-width: 100%;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.col-30 {
    border-width: 10px;
    border-color: red;
}