/**************** reset ***************** { */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* } *****************************************/










/**************** Utilities *************** { */












/*************** display flex ************** { */

.d-flex {
    display: flex;
}

/* } ********************************************/




/******* removing bullets from lists ***** { */

.list-style-none {
    list-style: none;
}

/* } *****************************************/
















/* } (utilities) *****************************/














/************** header styling *********** { */


.nav-menu {
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.left-nav-menu {
    align-items: center;
}

.drop-box-logo {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    height: 21px;
}

.nav-txt {
    text-decoration: none;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

header {
    background-color: white;
}

/* } *******************************************/





/*********** styling inside tag "main" *********/



/* Building document structural support */


.row {
    flex-wrap: wrap;
}

.jumbo-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.col-100 {
    width: 100%;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.intro-section {
    background-color: #b4d0e7;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 50px;
}

.start-free-trial {
    margin-top: 40px;
    margin-bottom: 40px;
}

.cancel-anytime {
    margin-bottom: 60px;
}

.jumbo-section {
    position: relative;
    top: 70px;
}

.solutions-options {
    margin-top: 150px;
}

.container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.options-selectors {
    justify-content: flex-start;
}